<!DOCTYPE html>
<html lang="en" class="bg-black text-white select-none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bracket - Landing Page</title>
    <link href="./output.css" rel="stylesheet" />
    <!-- Pixel Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- NAVBAR -->
    <div class="bg-pattern-grid-sm">
      <nav
        class="h-24 flex items-center justify-between px-52 py-6 border-gray-100 bg-nav-bar"
      >
        <div>
          <img
            class="h-12 w-52"
            src="./images/common/bracket_logo.svg"
            alt="Bracket Logo"
          />
        </div>
        <div class="flex items-center space-x-8">
          <img
            class="h-8"
            src="./images/landing_page/instagram.svg"
            alt="Bracket Logo"
          />
          <img
            class="h-8"
            src="./images/landing_page/linkedin.svg"
            alt="Bracket Logo"
          />
        </div>
      </nav>

      <!-- HEADER -->
      <div class="flex py-15 px-52 h-89 justify-between">
        <div class="flex-col w-180">
          <h1 class="pixel-font text-4xl font-normal">
            Designed once.<br />
            Licensed forever.
          </h1>
          <h4 class="pixel-font text-sm font-normal py-5">
            Designers publish complete UI systems.<br />
            Companies license them to ship products faster.
          </h4>
          <div class="flex flex-row w-full gap-3">
            <input
              class="pixel-font text-sm h-12 w-113 border p-4 invalid:border-red-500"
              type="email"
              id="email"
              name="email"
              required
              placeholder="YOUR EMAIL"
            />
            <button
              class="pixel-font primary p-3 h-12 flex-1 text-black text-sm"
            >
              JOIN WAITLIST
            </button>
          </div>
          <h4 class="pixel-font text-10px font-normal pt-3">
            We’ll email you when Bracket goes live. No spam.
          </h4>
        </div>
        <div
          class="pixel-font border border-gray-700 h-full w-74 flex items-center justify-center text-gray-600"
        >
          Placeholder Image
        </div>
      </div>

      <!-- How Bracket Works Title -->
      <div class="px-52 pixel-font text-4xl">How Bracket works</div>

      <!-- Step 1 -->
      <div class="relative h-full w-full">
        <div
          class="px-52 pixel-font text-sm pt-12 h-97 flex items-center justify-between"
        >
          <div
            class="pixel-font text-sm h-full flex flex-col items-center justify-center"
          >
            STEP 01<br />
            Designers build complete UI <br />
            systems and flows.
          </div>
          <div
            class="pixel-font border border-gray-700 h-full w-85 flex items-center justify-center text-gray-600"
          >
            Placeholder Image
          </div>
        </div>

        <div class="absolute top-76 ps-32 w-full h-full">
          <img
            class="h-42.5 w-36"
            src="./images/landing_page/step1.svg"
            alt="Bracket Logo"
          />
        </div>
      </div>

      <!-- Step 2 -->
      <div class="relative h-full w-full">
        <div
          class="px-52 pixel-font text-sm pt-7.5 h-92.5 flex items-center justify-between"
        >
          <div
            class="pixel-font border border-gray-700 h-full w-85 flex items-center justify-center text-gray-600"
          >
            Placeholder Image
          </div>
          <div
            class="pixel-font text-sm h-full flex flex-col items-center justify-center text-right"
          >
            STEP 02<br />
            They publish their design systems <br />
            on Bracket.
          </div>
        </div>

        <div
          class="absolute flex top-71 ps-32 w-full h-full justify-start -scale-x-100"
        >
          <img
            class="h-42.5 w-36"
            src="./images/landing_page/step1.svg"
            alt="Bracket Logo"
          />
        </div>
      </div>

      <!-- Step 3 -->
      <div class="relative h-full w-full">
        <div
          class="px-52 pixel-font text-sm pt-7.5 h-92.5 flex items-center justify-between"
        >
          <div
            class="pixel-font text-sm h-full flex flex-col justify-center items-center"
          >
            STEP 03<br />
            Companies license ready-to-use<br />
            systems to build faster.
          </div>
          <div
            class="pixel-font border border-gray-700 h-full w-85 flex items-center justify-center text-gray-600"
          >
            Placeholder Image
          </div>
        </div>

        <div class="absolute flex top-71 ps-32 w-full h-full justify-start">
          <img
            class="h-42.5 w-36"
            src="./images/landing_page/step1.svg"
            alt="Bracket Logo"
          />
        </div>
      </div>

      <!-- Step 4 -->
      <div class="relative h-full w-full">
        <div
          class="px-52 pixel-font text-sm pt-7.5 h-92.5 flex items-center justify-between"
        >
          <div
            class="pixel-font border border-gray-700 h-full w-85 flex items-center justify-center text-gray-600"
          >
            Placeholder Image
          </div>
          <div
            class="pixel-font text-sm h-full flex flex-col items-center justify-center text-right"
          >
            STEP 04<br />
            Designers earn every time their <br />systems are licensed.
          </div>
        </div>
      </div>

      <div class="relative h-full w-full">
        <div class="py-21.5 px-52 h-91.5">
          <div
            class="pixel-font w-full h-full flex flex-col border items-center justify-center"
          >
            <h1 class="text-xl">Did you know?</h1>
            <h4 class="opacity-20 pt-10">
              Design systems usually stay unused after one client
            </h4>
          </div>
        </div>
        <div class="absolute flex w-full h-full px-52 top-7.5 justify-end">
          <img class="h-20.7" src="./images/landing_page/cat.svg" alt="cat" />
        </div>
      </div>

      <nav
        class="h-24 flex items-center justify-between px-52 py-6 border-t"
      >
        <div>
          <img
            class="h-12 w-52"
            src="./images/common/bracket_logo.svg"
            alt="Bracket Logo"
          />
        </div>
        <div class="flex items-center space-x-8">
          <img
            class="h-8"
            src="./images/landing_page/instagram.svg"
            alt="Bracket Logo"
          />
          <img
            class="h-8"
            src="./images/landing_page/linkedin.svg"
            alt="Bracket Logo"
          />
        </div>
      </nav>

    </div>
  </body>
</html>
