<!DOCTYPE html>
<html lang="en" class="bg-white text-black select-none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bracket - Landing Page</title>
    <link href="./output.css" rel="stylesheet" />
    <!-- Pixel Font -->
  </head>
  <body>
    <!-- NAVBAR -->
    <div class="bg-pattern-grid-sm">
      <nav
        class="h-24 flex items-center header-shadow justify-between px-52 py-6 bg-white border border-white-700"
      >
        <div>
          <img
            class="h-12 w-52"
            src="./images/common/bracket_logo.svg"
            alt="Bracket Logo"
          />
        </div>
        <div class="flex items-center space-x-8">
          <img
            class="h-8"
            src="./images/landing_page/instagram.svg"
            alt="Bracket Logo"
          />
          <img
            class="h-8"
            src="./images/landing_page/linkedin.svg"
            alt="Bracket Logo"
          />
        </div>
      </nav>

      <!-- HEADER -->
      <div class="flex pt-12 px-52 h-88 justify-between">
        <div class="relative h-full w-full">
          <div class="flex-col w-150">
            <h1 class="pixel-font text-5xl font-extrabold">
              Designed once.<br />
              Licensed forever.
            </h1>
            <h4 class="pixel-font text-2xl font-semibold py-3">
              Designers publish complete UI systems.<br />
              Companies license them to ship products faster.
            </h4>
            <div class="flex flex-row w-full pt-4.5 gap-3">
              <input
                class="pixel-font text-sm h-12 w-101 rounded-lg z-10 border border-surface-30 placeholder-surface-20 p-4 invalid:border-red-500"
                type="email"
                id="email"
                name="email"
                required
                placeholder="YOUR EMAIL"
              />
              <button
                class="pixel-font primary p-3 h-12 flex-1 z-10 rounded-lg text-black text-sm font-extrabold"
              >
                JOIN WAITLIST
              </button>
            </div>
            <h4 class="pixel-font text-sm font-semibold pt-3">
              We’ll email you when Bracket goes live. No spam.
            </h4>
          </div>
          <div class="absolute flex top-36 w-149 h-full justify-end">
            <img
              class="h-9 w-7.5"
              src="./images/landing_page/cat_2.svg"
              alt="Bracket Logo"
            />
          </div>
        </div>
        <img
          class="h-60 w-100"
          src="./images/landing_page/image1.svg"
          alt="Bracket Logo"
        />
      </div>

      <!-- How Bracket Works Title -->
      <div class="px-52 pixel-font text-4xl font-extrabold w-full text-center">
        How Bracket works <br />
      </div>
      <div class="px-52 pixel-font text-xl font-normal pt-3 w-full text-center">
        Publish structured systems or license proven foundations for your
        product.
      </div>

      <!-- Step 1 -->
      <div
        class="px-52 pixel-font text-sm pt-9 h-94 gap-9.5 flex items-center justify-between"
      >
        <div
          class="pixel-font border h-full w-125 flex items-center justify-center"
        ></div>
        <div class="pixel-font h-full text-xl flex flex-col justify-center">
          <h1 class="font-bold text-right">STEP 01:</h1>
          <h2 class="font-normal text-right">
            Designers build complete UI systems and flows.
          </h2>
        </div>
      </div>

      <!-- Step 2 -->
      <div
        class="px-52 pixel-font text-sm pt-9 h-94 gap-9.5 flex items-center justify-between"
      >
        <div class="pixel-font h-full text-xl flex flex-col justify-center">
          <h1 class="font-bold text-left">STEP 02:</h1>
          <h2 class="font-normal text-left">
            They publish their design systems on Bracket.
          </h2>
        </div>
        <div
          class="pixel-font border h-full w-125 flex items-center justify-center"
        ></div>
      </div>

      <!-- Step 3 -->
      <div
        class="px-52 pixel-font text-sm pt-9 h-94 gap-9.5 flex items-center justify-between"
      >
        <div
          class="pixel-font border h-full w-125 flex items-center justify-center"
        ></div>
        <div class="pixel-font h-full text-xl flex flex-col justify-center">
          <h1 class="font-bold text-right">STEP 03:</h1>
          <h2 class="font-normal text-right">
            Companies license ready-to-use systems to build faster.
          </h2>
        </div>
      </div>

      <!-- Step 4 -->
      <div
        class="px-52 pixel-font text-sm pt-9 h-94 gap-9.5 flex items-center justify-between"
      >
        <div class="pixel-font h-full text-xl flex flex-col justify-center">
          <h1 class="font-bold text-left">STEP 04:</h1>
          <h2 class="font-normal text-left">
            Designers earn every time their systems are licensed.
          </h2>
        </div>
        <div
          class="pixel-font border h-full w-125 flex items-center justify-center"
        ></div>
      </div>

      <div class="relative h-full w-full">
        <div class="py-15 px-52 h-65">
          <div
            class=" w-full h-full custom-shadow flex flex-col border secondary rounded-2xl items-center justify-center"
          >
            <h1 class="pixel-font text-4xl font-extrabold">Did you know?</h1>
            <h4 class="pixel-font text-2xl font-bold pt-3">
              Design systems usually stay unused after one client.
            </h4>
          </div>
        </div>
        <div class="absolute flex w-full h-full ps-52 pe-57 top-1 justify-end">
          <img class="h-20.7" src="./images/landing_page/cat.svg" alt="cat" />
        </div>
      </div>

      <nav class="h-29 flex items-center bg-white justify-between px-52 pt-15 border-t">
        <div>
          <img
            class="h-12 w-52"
            src="./images/common/bracket_logo.svg"
            alt="Bracket Logo"
          />
        </div>
        <div class="flex items-center space-x-8">
          <img
            class="h-8"
            src="./images/landing_page/instagram.svg"
            alt="Bracket Logo"
          />
          <img
            class="h-8"
            src="./images/landing_page/linkedin.svg"
            alt="Bracket Logo"
          />
        </div>
      </nav>
    </div>
  </body>
</html>
